{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/main.css">
    <title>Orders</title>
</head>

<body>
    <main>
        <form action="/orders" method="post">
            <input type="text" name="uuid" placeholder="Enter an uuid" />
            <button class="search-button">Search</button>
        </form>
        {{if not (eq . nil)}}
            {{block "order" .}}
            {{end}}
        {{end}}
    </main>
</body>

</html>
{{end}}
